In [1]:
import pandas as pd
from pivottablejs import pivot_ui

In [2]:
auto = pd.read_csv("http://www-bcf.usc.edu/~gareth/ISL/Auto.csv")

In [3]:
auto.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [4]:
pivot_ui(auto, width="100%", height="800")